
/* width */
::-webkit-scrollbar {
  background: #091921;
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 5px 15px 15px rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(162, 42, 56);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a71a1a;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #86beda;
}
body{
    background: #191c48;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
#loader{
    width: 100%;
    height: 100vh;
    font-size: 3rem;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content{
  display: none;
  margin-top: 50px;
}
#header{
  background: #000000;
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  width: 100vw;
  }
  #header .hambuger{
    display: none !important;
}
#section{
  overflow:hidden;
}
.nav{
  background: #000000;
  width: 250px;
  float: left;
  position: fixed;
  border-right: solid 0.9px #055178;
  height: 100vh;
  padding-bottom: 90px;
  display: unset;
  z-index: 2;
  overflow: auto;
}
.nav ul{
  list-style: none;
  width: 100%;
}
.nav ul li{
  padding: 10px;
  width: 100%;
}
.nav a button{
  border: none;
  padding: 10px;
  text-align: left;
  margin: 0px 0.9px;
  background: #191c48;
  color: #0f89bd;
  font-weight: bolder;
  width: 100%;
  text-decoration: none;
  transform: 0.9s;
  transition: 0.9s;
}
.nav a button:hover{
  background: #0f89bd;
  padding-left: 30px;
  color: #191c48;
}
.login{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: auto; */
}
.nav-user-details{
  display: none;
}
.aside{  
  margin-left: 260px;
}
.listings{
  height: 80vh;
  width: 99%;
  overflow: auto;
}
a.wall{
  transition: 0.6s;
  transform: 0.6s;
  border: 2.5px solid #128ec4;
  border-radius: 20px;
  text-decoration: none;
}
.wall h3, .wall p{
  text-decoration: none;
}
.wall:hover{
  background: #373d91;
}
.wall p{
  font-size: 4rem;
}
.button{
  background: #128ec4;
  border: 2.5px solid #128ec4;
  transform: 0.6s;
  transition: 0.6s;
}
.button:hover{
  background: transparent;
  color: #128ec4;
}




@media only screen and (max-width : 768px){
    .nav{
      display: none;
    }
    #section{
      width: 99.9%;
    }
    .aside{      
      margin-left: 0px;
    }
    #header .hambuger{
        display: block !important;
    }
    .user-details{
      display: none;
    }
    .nav-user-details{
      display: unset;
    }
  }