{% extends 'base2.html' %}
{% block title %}Applications{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}

<div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">x</span>
    </button>
    {{message}}
</div>

{% endfor %}
<hr>
{% endif %}

{% endwith %}

<div class="pb-2">
    <h4 style="text-transform: capitalize;"> <i class="fa fa-users"></i> Applications
        {% if current_user.role|lower != 'student' %}
            {% if current_user.role|lower != 'reader' %}
            <span class="btn btn-success float-right" data-toggle="modal" data-target="#addapplication"><i class="fa fa-plus"></i></span>
            {% endif %}
        {% endif %}
    </h4>
</div>
<div class="listings">
    <div class="row" style="width: 100%; max-height: 70vh; overflow: auto;">
        {% if offers %}
            {% for offer in offers %}
                {% if courses %}
                    {% for course in courses %}
                        {% if offer.course_id == course.id %}
                            <div class="col-md-3 m-3 p-3 wall" style="border: 2.5px solid #128ec4; border-radius: 20px;">                                
                                <a href="/lessons/{{course.id}}" style="min-height: 40px; width: 100%; text-decoration:none; font-size: 1.1rem;">
                                    <span class="bg-primary" style="min-height: 40px; width: 100%; text-decoration:none; font-size: 1.1rem;">
                                    <i class="fa fa-book"></i> {{course.title}}
                                    </span>
                                <br>
                            </a>
                            <i class="text-white">{{offer.student.firstname|title()}} {{offer.student.lastname|title()}}</i><br>
                            {% if offer.status|lower() == 'pending' %}
                            Status - <i class="text-warning">{{offer.status|title()}}</i>
                            {% else %}
                            Status - <i class="text-success">{{offer.status|title()}}</i>
                            {% endif %}
                                <br>
                                {% if current_user.role|lower() != 'student' %}
                                    {% if current_user.role|lower() != 'reader' %}
                                    <div class="mt-3 mb-3">
                                        <a href="/delete-offer/{{offer.id}}" class="btn btn-danger float-right"><i class="fa fa-times"></i></a>&nbsp;
                                        {% if offer.status|lower() == 'pending' %}
                                        <a href="/accept-offer/{{offer.id}}" class="btn btn-primary float-left"><i class="fa fa-check"></i></a>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                {% endif %}
                                <div class="h6 mt-3">
                                    <i class="fa fa-clock"></i> {{offer.date_created.strftime('%d %B, %Y')}}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <h3 class="text-center m-5">No Course found . . .</h3>
                {% endif %}
            {% endfor %}
        {% else %}
        <h3>No Course offered yet!</h3>
        {% endif %}
    </div>
</div>
<!-- Modal add prospect -->
<div class="modal" style="align-self: center;" id="addapplication" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-dark">
                    <span class="bg-danger h6" style="border-radius: 50%; padding: 4px 8px;" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </span> &nbsp; Assign User to Courses
                </h4>
            </div>
            <div class="modal-body text-white bg-dark">
                <form action="" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect00">Select User</label>
                        </div>
                        <select name="student" class="custom-select" id="inputGroupSelect00">
                            <option value="0"></option>
                            {% if students %}
                            {% for student in students %}
                            <option value="{{student.id}}">{{student.firstname}} {{student.lastname}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Select Course</label>
                        </div>
                        <select name="course" class="custom-select" id="inputGroupSelect01">
                            <option value="0"></option>
                            {% if courses %}
                            {% for course in courses %}
                            <option value="{{course.id}}">{{course.title}}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <button type="submit" class="btn button">Activate <i class="fa fa-check"></i></button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Close
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}