{% extends 'base2.html' %}
{% block title %}Clients{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}

<div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">x</span>
    </button>
    {{message}}
</div>

{% endfor %}
<hr>
{% endif %}

{% endwith %}

<div class="pb-2">
    <h4 style="text-transform: capitalize;"> <i class="fa fa-users"></i> Clients - <span class="badge badge-dark">{{category}}</span></h4>
</div>
<form action="/filter/{{category}}" method="post">
    <div class="row">
        <div class="col-md-4 m-1">
            <input type="text" name="keyword" placeholder="Search KEYWORD" class="form-control">
        </div>
        <div class="col-md m-1 text-center">
            <button class="btn button float-left">Filter <i class="fa fa-filter"></i></button>
            <span class="btn btn-success" data-toggle="modal" data-target="#add{{category}}"><i class="fa fa-plus"></i></span>
            <a href="/customers/{{category}}" class="btn btn-danger float-right">Clear Filter <i class="fa fa-times"></i></a>
        </div>
    </div>
</form>
<div class="table-responsive listings">
    <table class="table table-dark table-striped table-bordered table-hover">
        <thead>
            <tr>
                {% if category == 'prospects' %}
                    <th colspan="2">Actions</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Location</th>
                    <th>Sector</th>
                    <th>Status</th>
                    <th>Remark</th>
                {% endif %}
                {% if category == 'students' %}
                    <th colspan="2">Actions</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Location</th>
                    <th>Courses</th>
                    <th>Registration Fee</th>
                    <th>Tutorial Fee</th>
                    <th>Course Fee</th>
                    <th>Payment 1</th>
                    <th>Payment 2</th>
                    <th>Payment 3</th>
                    <th>Balance</th>
                    <th>Exam</th>
                    <th>Remark 1</th>
                    <th>Remark 2</th>
                {% endif %}
                {% if category == 'exstudents' %}
                    <th colspan="2">Actions</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Location</th>
                    <th>Courses</th>
                    <th>Balance</th>
                    <th>Results</th>
                    <th>Referral Name</th>
                    <th>Referral Number</th>
                    <th>Referral Email</th>
                    <th>Remark</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if category == 'prospects' %}
                {% if clients %}
                    {% for client in clients %}
                        <tr>
                            <td><button class="btn" data-toggle="modal" data-target="#client-edit{{client.id}}"><i class="fa fa-edit"></i></button></td>
                            <td><a href="/delete-customer/{{category}}/{{client.id}}" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a></td>
                            <td>{{client.fullname}}</td>
                            <td>{{client.email}}</td>
                            <td>{{client.phone}}</td>
                            <td>{{client.location}}</td>
                            <td>{{client.sector}}</td>
                            <td>{{client.status}}</td>
                            <td>{{client.remark}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if category == 'students' %}
                {% if clients %}
                    {% for client in clients %}
                        <tr>
                            <td><button class="btn" data-toggle="modal" data-target="#client-edit{{client.id}}"><i class="fa fa-edit"></i></button></td>
                            <td><a href="/delete-customer/{{category}}/{{client.id}}" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a></td>
                            <td>{{client.fullname}}</td>
                            <td>{{client.email}}</td>
                            <td>{{client.phone}}</td>
                            <td>{{client.location}}</td>
                            <td>{{client.courses}}</td>
                            <td>{{client.registration_fee}}</td>
                            <td>{{client.tutorial_fee}}</td>
                            <td>{{client.course_fee}}</td>
                            <td>{{client.payment_1}}</td>
                            <td>{{client.payment_2}}</td>
                            <td>{{client.payment_3}}</td>
                            <td>{{client.balance}}</td>
                            <td>{{client.exam}}</td>
                            <td>{{client.remark_1}}</td>
                            <td>{{client.remark_2}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if category == 'exstudents' %}
                {% if clients %}
                    {% for client in clients %}
                        <tr>
                            <td><button class="btn" data-toggle="modal" data-target="#client-edit{{client.id}}"><i class="fa fa-edit"></i></button></td>
                            <td><a href="/delete-customer/{{category}}/{{client.id}}" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a></td>
                            <td>{{client.fullname}}</td>
                            <td>{{client.email}}</td>
                            <td>{{client.phone}}</td>
                            <td>{{client.location}}</td>
                            <td>{{client.courses}}</td>
                            <td>{{client.balance}}</td>
                            <td>{{client.results}}</td>
                            <td>{{client.referral_name}}</td>
                            <td>{{client.referral_number}}</td>
                            <td>{{client.referral_email}}</td>
                            <td>{{client.remark}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </tbody>
    </table>
</div>

{% if category == 'prospects' %}
<!-- Modal Edit prospects -->
    {% if clients %}
        {% for client in clients %}
        <div class="modal" style="align-self: center;" id="client-edit{{client.id}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-dark">
                            <span class="bg-danger h6" style="border-radius: 50%; padding: 4px 8px;" data-dismiss="modal"><i class="fa fa-times"></i></span> &nbsp;
                            Edit <span class="badge">{{client.fullname}}</span>
                        </h4>
                    </div>
                    <div class="modal-body text-white bg-dark">
                        <form action="/edit-client/{{category}}/{{client.id}}" method="post">
                            <div class="form-group">
                                <label for="editfullname">Fullname: </label>
                                <input type="text" id="editfullname" name="fullname" value="{{client.fullname}}"
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="editemail">Email: </label>
                                <input type="text" id="editemail" name="email" value="{{client.email}}"
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="editphone">Phone: </label>
                                <input type="text" id="editphone" name="phone" value="{{client.phone}}"
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="editlocation">Location: </label>
                                <input type="text" id="editlocation" name="location" value="{{client.location}}"
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="editsector">Sector: </label>
                                <input type="text" id="editsector" name="sector" value="{{client.sector}}"
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="editstatus">Status: </label>
                                <select id="editstatus" name="status" class="form-control">
                                    <option value="{{client.status}}">{{client.status}}</option>
                                    <option value="Interested">Interested</option>
                                    <option value="Not-Interested">Not-Interested</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editremark">Remark: </label>
                                <textarea id="editremark" name="remark" class="form-control">{{client.remark}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
        <!-- Modal add prospect -->
        <div class="modal" style="align-self: center;" id="add{{category}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-dark">
                            <span class="bg-danger h6" style="border-radius: 50%; padding: 4px 8px;" data-dismiss="modal"><i class="fa fa-times"></i></span> &nbsp;
                            Add <span class="badge">{{category|title}}</span>
                        </h4>
                    </div>
                    <div class="modal-body text-white bg-dark">
                        <form action="/add/{{category}}" method="post">
                            <div class="form-group">
                                <label for="fullname{{category}}">Fullname: </label>
                                <input type="text" id="fullname{{category}}" name="fullname" placeholder="Full Name . . ."
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="email{{category}}">Email: </label>
                                <input type="text" id="email{{category}}" name="email" placeholder="Email . . ."
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="phone{{category}}">Phone: </label>
                                <input type="text" id="phone{{category}}" name="phone" placeholder="Phone . . ."
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="location{{category}}">Location: </label>
                                <input type="text" id="location{{category}}" name="location" placeholder="Location . . ."
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="sector{{category}}">Sector: </label>
                                <input type="text" id="sector{{category}}" name="sector" placeholder="Sector . . ."
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="status{{category}}">Status: </label>
                                <select id="status{{category}}" name="status" class="form-control">
                                    <option value=" ">Select Status</option>
                                    <option value="Interested">Interested</option>
                                    <option value="Not-Interested">Not-Interested</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="remark{{category}}">Remark: </label>
                                <textarea id="remark{{category}}" name="remark" class="form-control" placeholder="Remark . . ."></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% if category == 'students' %}
    <!-- Modal Edit student -->
        {% if clients %}
            {% for client in clients %}
            <div class="modal" style="align-self: center;" id="client-edit{{client.id}}" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="text-dark">
                                <span class="bg-danger h6" style="border-radius: 50%; padding: 4px 8px;" data-dismiss="modal"><i class="fa fa-times"></i></span> &nbsp;
                                Edit <span class="badge">{{client.fullname}}</span>
                            </h4>
                        </div>
                        <div class="modal-body text-white bg-dark">
                            <form action="/edit-client/{{category}}/{{client.id}}" method="post">
                                <div class="form-group">
                                    <label for="editfullname">Fullname: </label>
                                    <input type="text" id="editfullname" name="fullname" value="{{client.fullname}}"
                                        class="form-control">
                                    </div>
                                    <div class="form-group">
                                    <label for="editemail">Email: </label>
                                    <input type="text" id="editemail" name="email" value="{{client.email}}"
                                    class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editphone">Phone: </label>
                                    <input type="text" id="editphone" name="phone" value="{{client.phone}}"
                                        class="form-control">
                                    </div>
                                <div class="form-group">
                                    <label for="editlocation">Location: </label>
                                    <input type="text" id="editlocation" name="location" value="{{client.location}}"
                                    class="form-control">
                                    </div>
                                <div class="form-group">
                                    <label for="editcourses">Courses: </label>
                                    <input type="text" id="editcourses" name="courses" value="{{client.courses}}"
                                        class="form-control">
                                    </div>
                                    <div class="form-group">
                                    <label for="editregistration_fee">Registration Fee: </label>
                                    <input type="text" id="editregistration_fee" name="registration_fee" value="{{client.registration_fee}}"
                                    class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="edittutorial_fee">Tutorial Fee: </label>
                                    <input type="text" id="edittutorial_fee" name="tutorial_fee" value="{{client.tutorial_fee}}"
                                        class="form-control">
                                    </div>
                                    <div class="form-group">
                                    <label for="editcourse_fee">Course Fee: </label>
                                    <input type="text" id="editcourse_fee" name="course_fee" value="{{client.course_fee}}"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editpayment_1">Payment 1: </label>
                                    <input type="text" id="editpayment_1" name="payment_1" value="{{client.payment_1}}"
                                    class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editpayment_2">Payment 2: </label>
                                    <input type="text" id="editpayment_2" name="payment_2" value="{{client.payment_2}}"
                                        class="form-control">
                                    </div>
                                    <div class="form-group">
                                    <label for="editpayment_3">Payment 3: </label>
                                    <input type="text" id="editpayment_3" name="payment_3" value="{{client.payment_3}}"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editbalance">Balance: </label>
                                    <input type="text" id="editbalance" name="balance" value="{{client.balance}}"
                                        class="form-control">
                                    </div>
                                <div class="form-group">
                                    <label for="editexam">Exam: </label>
                                    <input type="text" id="editexam" name="exam" value="{{client.exam}}"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="editremark_1">Remark 1: </label>
                                    <textarea id="editremark_1" name="remark_1" class="form-control">{{client.remark_1}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="editremark_2">Remark 2: </label>
                                    <textarea id="editremark_2" name="remark_2" class="form-control">{{client.remark_2}}</textarea>
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" type="button" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <!-- Modal add students -->
        <div class="modal" style="align-self: center;" id="add{{category}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-dark">
                            <span class="bg-danger h6" style="border-radius: 50%; padding: 4px 8px;" data-dismiss="modal"><i class="fa fa-times"></i></span> &nbsp;
                            Add <span class="badge">{{category|title}}</span>
                        </h4>
                    </div>
                    <div class="modal-body text-white bg-dark">
                        <form action="/add/{{category}}" method="post">
                            <div class="form-group">
                                <label for="fullname{{category}}">Fullname: </label>
                                <input type="text" id="fullname{{category}}" name="fullname" placeholder="Full Name . . ."
                                    class="form-control">
                                </div>
                                <div class="form-group">
                                <label for="email{{category}}">Email: </label>
                                <input type="text" id="email{{category}}" name="email" placeholder="Email . . ."
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="phone{{category}}">Phone: </label>
                                <input type="text" id="phone{{category}}" name="phone" placeholder="Phone . . ."
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="location{{category}}">Location: </label>
                                <input type="text" id="location{{category}}" name="location" placeholder="Location . . ."
                                class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="courses{{category}}">Courses: </label>
                                <input type="text" id="courses{{category}}" name="courses" placeholder="Courses . . ."
                                    class="form-control">
                                </div>
                                <div class="form-group">
                                <label for="registration_fee{{category}}">Registration Fee: </label>
                                <input type="text" id="registration_fee{{category}}" name="registration_fee" placeholder="Registration Fee . . ."
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="tutorial_fee{{category}}">Tutorial Fee: </label>
                                <input type="text" id="tutorial_fee{{category}}" name="tutorial_fee" placeholder="Tutorial Fee . . ."
                                    class="form-control">
                                </div>
                                <div class="form-group">
                                <label for="course_fee{{category}}">Course Fee: </label>
                                <input type="text" id="course_fee{{category}}" name="course_fee" placeholder="Course Fee . . ."
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="payment_1{{category}}">Payment 1: </label>
                                <input type="text" id="payment_1{{category}}" name="payment_1" placeholder="Payment 1 . . ."
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="payment_2{{category}}">Payment 2: </label>
                                <input type="text" id="payment_2{{category}}" name="payment_2" placeholder="Payment 2 . . ."
                                    class="form-control">
                                </div>
                                <div class="form-group">
                                <label for="payment_3{{category}}">Payment 3: </label>
                                <input type="text" id="payment_3{{category}}" name="payment_3" placeholder="Payment 3 . . ."
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="balance{{category}}">Balance: </label>
                                <input type="text" id="balance{{category}}" name="balance" placeholder="Balance . . ."
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="exam{{category}}">Exam: </label>
                                <input type="text" id="exam{{category}}" name="exam" placeholder="Exam . . ."
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remark_1{{category}}">Remark 1: </label>
                                <textarea id="remark_1{{category}}" name="remark_1" class="form-control" placeholder="Remark 1 . . ."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="remark_2{{category}}">Remark 2: </label>
                                <textarea id="remark_2{{category}}" name="remark_2" class="form-control" placeholder="Remark 2 . . ."></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% if category == 'exstudents' %}
<!-- Modal Edit Employee -->
    {% if clients %}
        {% for client in clients %}
        <div class="modal" style="align-self: center;" id="client-edit{{client.id}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="text-dark">
                            <span class="bg-danger h6" style="border-radius: 50%; padding: 4px 8px;" data-dismiss="modal"><i class="fa fa-times"></i></span> &nbsp;
                            Edit <span class="badge">{{client.fullname}}</span>
                        </h4>
                    </div>
                    <div class="modal-body text-white bg-dark">
                        <form action="/edit-client/{{category}}/{{client.id}}" method="post">
                            <div class="form-group">
                                <label for="editfullname">Fullname: </label>
                                <input type="text" id="editfullname" name="fullname" value="{{client.fullname}}"
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="editemail">Email: </label>
                                <input type="text" id="editemail" name="email" value="{{client.email}}"
                                    class="form-control">
                                </div>
                                <div class="form-group">
                                <label for="editphone">Phone: </label>
                                <input type="text" id="editphone" name="phone" value="{{client.phone}}"
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="editlocation">Location: </label>
                                <input type="text" id="editlocation" name="location" value="{{client.location}}"
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="editcourse">Courses: </label>
                                <input type="text" id="editcourse" name="courses" value="{{client.courses}}"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="editbalance">Balance: </label>
                                <input type="text" id="editbalance" name="balance" value="{{client.balance}}"
                                    class="form-control">
                                </div>
                            <div class="form-group">
                                <label for="editresults">Results: </label>
                                <input type="text" id="editresults" name="results" value="{{client.results}}"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="editreferral_name">Referral Name: </label>
                                <input type="text" id="editreferral_name" name="referral_name" value="{{client.referral_name}}"
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="editreferral_number">Referral Number: </label>
                                <input type="text" id="editreferral_number" name="referral_number" value="{{client.referral_number}}"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="editreferral_email">Referral Email: </label>
                                <input type="text" id="editreferral_email" name="referral_email" value="{{client.referral_email}}"
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="editremark">Remark: </label>
                                <textarea id="editremark" name="remark" class="form-control">{{client.remark}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <!-- Modal Edit Employee -->
    <div class="modal" style="align-self: center;" id="add{{category}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-dark">
                        <span class="bg-danger h6" style="border-radius: 50%; padding: 4px 8px;" data-dismiss="modal"><i class="fa fa-times"></i></span> &nbsp;
                        Add <span class="badge">{{category|title}}</span>
                    </h4>
                </div>
                <div class="modal-body text-white bg-dark">
                    <form action="/add/{{category}}" method="post">
                        <div class="form-group">
                            <label for="fullname{{category}}">Fullname: </label>
                            <input type="text" id="fullname{{category}}" name="fullname" placeholder="Full Name . . ."
                            class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email{{categort}}">Email: </label>
                            <input type="text" id="email{{categort}}" name="email" placeholder="Email . . ."
                                class="form-control">
                            </div>
                            <div class="form-group">
                            <label for="phone{{category}}">Phone: </label>
                            <input type="text" id="phone{{category}}" name="phone" placeholder="Phone . . ."
                            class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="location{{category}}">Location: </label>
                            <input type="text" id="location{{category}}" name="location" placeholder="Location . . ."
                                class="form-control">
                            </div>
                        <div class="form-group">
                            <label for="course{{category}}">Courses: </label>
                            <input type="text" id="course{{category}}" name="courses" placeholder="Courses . . ."
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="balance{{category}}">Balance: </label>
                            <input type="text" id="balance{{category}}" name="balance" placeholder="Balance . . ."
                                class="form-control">
                            </div>
                        <div class="form-group">
                            <label for="results{{category}}">Results: </label>
                            <input type="text" id="results{{category}}" name="results" placeholder="Results . . ."
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="referral_name{{category}}">Referral Name: </label>
                            <input type="text" id="referral_name{{category}}" name="referral_name" placeholder="Referral Name . . ."
                            class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="referral_number{{category}}">Referral Number: </label>
                            <input type="text" id="referral_number{{category}}" name="referral_number" placeholder="Referral Number . . ."
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="referral_email{{category}}">Referral Email: </label>
                            <input type="text" id="referral_email{{category}}" name="referral_email" placeholder="Referral Email . . ."
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="remark{{category}}">Remark: </label>
                            <textarea id="remark{{category}}" name="remark" class="form-control" placeholder="Remark . . ."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Close <i class="fa fa-times"></i></button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}